<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h5>About Us</h5>
              <p>The purpose of this project is to develop a prototype of a
                Solar Project Management tool that connects Sales, Construction
                crews, Operations managers, and end-customers.</p>
            </div>
            <div class="col-md-6">
              <h5>Contact Us</h5>
              <p> Stevens Institute of Technology, Hoboken, New Jersey</p>
              <p>Email: charanrajkandula@gmail.com</p>
              <p>Phone: 551-256-0939</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr />
              <p class="text-center">&copy; 2023 Solar Project Team 15 Agile Sp.
                All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </div>
</div>