<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/salespage">Sales Team</a>
          <a class="dropdown-item" href="/constructionpage">Contruction Crew</a>
          <a class="dropdown-item" href="/managerpage">Operational Managers</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/solarcalculator">Solar Calculator</a>
          <a class="dropdown-item" href="/solarblog">Solar Blog </a>
          <a class="dropdown-item" href="/solarnews">Solar News</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Contact</a>
      </li>
      {{! <li class="nav-item">
        <a class="nav-link" href="/contact">Call to Action</a>
      </li> }}
      {{! <li class="nav-item">
        <a class="nav-link" href="/adminlogin">Admin</a>
      </li> }}

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/newuserlogin">User Login</a>
          <a class="dropdown-item" href="/adminlogin">Admin Login </a>

        </div>
      </li>
    </ul>
  </div>
</nav>

{{! <div class="landing-image"></div>

<div class="container">
  <h1>Welcome to our Solar Project Website!</h1>
  <p>Learn more about our solar projects and services.</p>
</div> }}