<h3>{{msg}}</h3>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Welcom {{user}}</h5>
      <p class="card-text"><h3>Username: {{user}}</h3>
        <h3>Current Date/Time : {{date_time}}</h3>
      </p>
    </div>
  </div>
</div>

<br />

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">User Dashboard</h5>
      <p class="card-text">
      </p>
    </div>
  </div>
</div>

<div></div>
<br />
<br />

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <a href="/createOrder">Create Order</a>
      <br />
      <br />
      <a href="/orderHistory">Check Order History</a>
      <br />
      <br />
      {{! <a href="/ChatLive">Chat </a>
      <br />
      <br /> }}
      <a href="/feedback">Feedback</a>
      <br />
      <br />
      {{! <a href="/getOpenOrders/2">Check Order Status</a> }}
      {{! <br />
      <br /> }}
      <a href="/logout">Click Here to Logout</a>
    </div>
  </div>
</div>