<h3>{{msg}}</h3>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Welcom {{user}}</h5>
      <p class="card-text"><h3>Username: {{user}}</h3>
        <h3>Current Date/Time : {{date_time}}</h3>
      </p>
    </div>
  </div>
</div>

<br />

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Operational Manager Dashboard</h5>
      <p class="card-text">I'm responsible for planning and strategy
        development, team management, budgeting, process improvement, quality
        assurance, performance monitoring, risk management, stakeholder
        management, and promoting a culture of continuous improvement and
        problem-solving.
      </p>
    </div>
  </div>
</div>

<div></div>
<br />
<br />

<div class="card-deck">
  <div class="card">
    <div class="card-body">

      <a href="/getOrders">View All Orders</a>
      <br />
      <br />
      <a href="/getOpenOrders/1">New Open Orders</a>
      <br />
      <a href="/getOpenOrders/2">Check Approved Orders</a>
      <br />
      <a href="/getOpenOrders/3">Check Rejected Orders</a>
      <br />
      <a href="/getOpenOrders/4">Check Workin In progress Orders</a>
      <br />
      <a href="/getOpenOrders/5">Check Completed Orders</a>
      <br />
      <br />

      <a href="/logout">Click Here to Logout</a>
    </div>
  </div>
</div>