{{!-- {{> navbar}} --}}

<h1>About</h1>



<div>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> <p>The purpose of this project is to develop a prototype of a Solar Project
  Management tool that connects Sales, Construction crews, Operations managers,
  and end-customers.</p>
</h5>
      {{!-- <p class="card-text">Project Lead</p> --}}
    </div>
  </div>
</div>
<div>
    <br/>
    
</div>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> <p>
  The Future is Bright": The benefits of solar energy for residential customers,
  such as cost savings, environmental impact, and energy independence. The
  introduction can highlight the company's experience, expertise, and commitment
  to providing high-quality solar solutions.
</p></h5>
      {{!-- <p class="card-text">Project Lead</p> --}}
    </div>
  </div>
</div>
<div>
    <br/>

</div>

<h2>Team Members</h2>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Charan Raj</h5>
      <p class="card-text">Project Lead</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Anita</h5>
      <p class="card-text">Developer</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Raghu</h5>
      <p class="card-text">Developer</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Harsha</h5>
      <p class="card-text">Developer</p>
    </div>
  </div>
</div>