{{!-- {{>navbar}} --}}

<div class="container">
  {{! <h1>Welcome to our Solar Project Website!</h1> }}
  {{! <p>Introduction: The purpose of this project is to develop a prototype of a
    Solar Project Management tool that connects Sales, Construction crews,
    Operations managers, and end-customers.</p> }}
</div>
<div class="landing-image">
  <div class="card">
    <div class="card-body position-relative text-center">
      <h1>Welcome to our Solar Project Website!</h1>
      <h5 class="card-title">Solar Team 15 (Agile Sp)</h5>
      <div class="image-container">
        <img
          src="/images/solar2.jpg"
          alt="Solar Image"
          class="img-fluid"
          style="width: 1400px; height: 200px;"
        />
        <div class="overlay">
          <div class="text-container">
            <p class="card-text">The Future is Bright": The benefits of solar
              energy for residential customers, such as cost savings,
              environmental impact, and energy independence. The introduction
              can highlight the company's experience, expertise, and commitment
              to providing high-quality solar solutions.</p>
            <a href="/about" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-body text-center"><h2>Our Services</h2></div>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sales Team</h5>
      <p class="card-text">I'm responsible for providing information about
        solar-powered equipment and its benefits to their customers.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Construction Crew</h5>
      <p class="card-text">I'm responsible for installing solar panels and
        checking equipments/materials, ensuring safety compliance, and
        collaborating with other team members for efficient project execution.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">End-Coustomer</h5>
      <p class="card-text">End-customer features include solar panel
        installation, customized system design, financing options, chat, and
        renewable energy education.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Operational Manager</h5>
      <p class="card-text">I'm responsible for planning and strategy
        development, team management, budgeting, process improvement, quality
        assurance, performance monitoring, risk management, stakeholder
        management, and promoting a culture of continuous improvement and
        problem-solving.</p>
    </div>
  </div>
</div>