<!-- Page Content -->
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h2>Login</h2>
      <p>Enter your username and password to log in.</p>
      <span style="color: red;">{{error_msg}}</span>
      <form id="login-form" autocomplete="off" method="post" action="/login">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input
            id="usernameInput"
            type="text"
            name="usernameInput"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="passwordInput"
            type="password"
            name="passwordInput"
            placeholder="Password"
          />
        </div>
        <button id="login-button" type="submit">Login</button>
      </form>
      {{#if error}}
        <h6>{{error}}</h6>
      {{/if}}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2>Register</h2>
      <p>Register on our website</p>
      <span style="color: red;">{{error_msg}}</span>
      <form
        id="registration-form"
        autocomplete="on"
        method="post"
        action="/register"
      >
        <div class="form-group">
          <label for="unameInput">Name</label>
          <input
            id="unameInput"
            type="text"
            name="unameInput"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <label for="umailInput">Mail</label>
          <input
            id="umailInput"
            type="text"
            name="umailInput"
            placeholder="Mail"
          />
        </div>
        <div class="form-group">
          <label for="umobileInput">Mobile</label>
          <input
            id="umobileInput"
            type="text"
            name="umobileInput"
            placeholder="Mobile"
          />
        </div>
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input
            id="usernameInput"
            type="text"
            name="usernameInput"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input
            id="passwordInput"
            type="password"
            name="passwordInput"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <input id="submit-button" type="submit" value="Register" />
        </div>
      </form>
      {{#if error}}
        <h6>{{error}}</h6>
      {{/if}}
    </div>
  </div>
</div>