{{! <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user-login">User Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin-login">Admin Login</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div class="container">
  <h1>Welcome to the Home Page</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur
    sem a leo congue, ut ullamcorper est mattis. Aliquam nec ligula quis sem
    consectetur posuere.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
></script> }}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Operations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Create</a>
          <a class="dropdown-item" href="#">Update</a>
          <a class="dropdown-item" href="#">Delete</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">More</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      {{! <li class="nav-item">
        <a class="nav-link" href="/contact">Call to Action</a>
      </li> }}
      <li class="nav-item">
        <a class="nav-link" href="/adminlogin">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div class="container">
  <h1>Welcome to the Home Page</h1>
  <div class="row">
    <div class="col-md-6">
      <!-- Login form -->
      <h2>Login</h2>
      <p>Enter username and password to know more about user.</p>
      <span style="color: red;"> {{error_msg}} </span>
      <form id="login-form" autocomplete="off" method="post" action="/login">
        <div class="form-group">

          <label for="usernameInput">Username</label>
          <input
            id="usernameInput"
            type="text"
            name="usernameInput"
            placeholder="Username"
          />

        </div>
        <div class="form-group">

          <label for="password">Password</label>
          <input
            id="passwordInput"
            type="password"
            name="passwordInput"
            placeholder="Password"
          />

        </div>

        <button id="login-button" type="submit">Login</button>
      </form>
      {{#if error}}
        <h6>{{error}}</h6>
      {{/if}}
    </div>
    <div class="col-md-6">
      <!-- Register form -->
      <h2>Register</h2>
      <p>Register on our website</p>
      <span style="color: red;"> {{error_msg}} </span>
      <form
        id="registartion-form"
        autocomplete="on"
        method="post"
        action="/register"
      >

        <div class="form-group">
          <label for="username">Name</label>
          <input
            id="unameInput"
            type="text"
            name="unameInput"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <label for="username">Mail</label>
          <input
            id="umailInput"
            type="text"
            name="umailInput"
            placeholder="Mail"
          />
        </div>
        <div class="form-group">
          <label for="username">Mobile</label>
          <input
            id="umobileInput"
            type="text"
            name="umobileInput"
            placeholder="Mobile"
          />
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            id="usernameInput"
            type="text"
            name="usernameInput"
            placeholder="Username"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="passwordInput"
            type="password"
            name="passwordInput"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <input id="submit-button" type="submit" value="Register" />
        </div>
      </form>
      {{#if error}}
        <h6>{{error}}</h6>
      {{/if}}
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
></script>