<!-- Page Content -->
<div class="card-deck">
  <div class="card">
    <div class="card-body">

      <br />
      <br />
      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Residential Solar</h3>
            <p>
              Reduce your energy bills and help the environment with our
              residential solar solutions
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </div>

          <div class="col-sm-4">
            <h3>Commercial Solar</h3>
            <p>
              Lower your operating costs and increase your sustainability with
              our commercial solar solutions
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </div>

          <div class="col-sm-4">
            <h3>Battery Storage</h3>
            <p>
              Store your excess solar energy and use it when you need it with
              our battery storage solutions
            </p>
            <button type="button" class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>